.section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 15px;
}
.section-header {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 25px 0;
}
.section-title {
  padding: 8px 0 8px 10px;
  border-left: 4px solid $green;
  border-bottom: 4px solid $green;
}


//Media

@media screen and (max-width: 576px) {
  .section {
    margin: 0;
    padding: 50px 0;
  }
}
